@model AskAway.Models.Reply

<div class="Reply">
    <hr />
    <dl class="dl-horizontal">
        <div class="ReplyContent">
            @Html.DisplayFor(model => model.Content)
        </div>

        <div class="ReplyInfo">
            @Html.DisplayFor(model => model.User.UserName)
        </div>

        <div class="ReplyInfo">
            @Html.DisplayFor(model => model.Date)
        </div>
    </dl>
</div>
@if ((this.User.Identity.Name.Equals(Model.User.UserName)) || this.User.IsInRole("Moderator") || this.User.IsInRole("Administrator"))
{
    <div class="BtnDiv">
        <form method="post" action="/Reply/Delete/@Model.Id">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="ReplyBtn btn-danger" type="submit">Sterge raspuns</button>
        </form>
        <a class="ReplyBtn btn-success" href="/Reply/Edit/@Model.Id">Editare raspuns</a>
    </div>
}
