@model AskAway.Models.Reply

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>

@if ((this.User.Identity.Name.Equals(Model.User.UserName)) || this.User.IsInRole("Moderator") || this.User.IsInRole("Administrator"))
{

    <form method="post" action="/Reply/Delete/@Model.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger" type="submit">Sterge raspuns</button>
    </form>
    <a class="btn btn-success" href="/Reply/Edit/@Model.Id">Editare raspuns</a>

}