@model AskAway.Models.Category

@{
    ViewBag.Titlu = "Afisare categorie";
}

<h2>@ViewBag.Titlu</h2>

<p>@Model.CategoryName</p>

@if (this.User.IsInRole("Administrator"))
{
    <form method="post" action="/Category/Delete/@Model.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-danger" type="submit">Sterge categoria</button>
    </form>
}
    <br />
    <a class="btn btn-success" href="/Category/Index/">Inapoi la lista de categorii</a>

    <br />
    <hr />
    <br />

