@model AskAway.Models.Topic

@{
    ViewBag.Categorie = Model.Category;
    ViewBag.Titlu = Model.Title;
}


<h2>@ViewBag.Titlu</h2>

<p>@ViewBag.Category</p>

<a class="btn btn-success" href="/Reply/New/@Model.Id">Add reply</a>

@foreach (ForumApp.Models.Reply reply in Model.Replies)
{
    @Html.Partial("ReplyView", reply)
}